{# templates/Country/country_index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Страны{% endblock %}
{% block body %}
<div class="blog-header">
    <h2 class="blog-title text-center">Редактировать</h2>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Sanctions</th>
      <th scope="col">Memo</th>
    </tr>
  </thead>

{% for country in countries %}
     <br>
     <br>
    <tr>
      <th scope="row">{{ country.id }}</th>
      <td>{{ country.name }}</td>
      <td>{{ country.sactions }}</td>
      <td>{{ country.memo }}</td>
    </tr>

{% else %}
Записей нет.
{% endfor %}
  <tbody>
  </tbody>
</table>
{% endblock %}
