{# src/templates/building/form.html.twig #}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="col-md-12">
    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.name) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.city) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.address) }}
    </div>
    </div>

    <div class="form-group row">
    <div class="form-group">
            {{ form_row(form.memo) }}
    </div>
    </div>

    <div class="form-row justify-content-center">
    <div class="form-group text-center">
        <input type="submit" value="Submit">
    </div>
    </div>
</div>