{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}О программе{% endblock %}
{% block body %}
<div class="blog-header">
    <h2 class="blog-title text-center">    About page
</h2>
</div>

<div class="container">
<div class="col-6">
Donec imperdiet ante sed diam consequat et dictum erat faucibus. Aliquam sit amet vehicula leo. Morbi urna dui, tempor ac posuere et, rutrum at dui. Curabitur neque quam, ultricies ut imperdiet id, ornare varius arcu. Ut congue urna sit amet tellus malesuada nec elementum risus molestie. Donec gravida tellus sed tortor adipiscing fringilla. Donec nulla mauris, mollis egestas condimentum laoreet, lacinia vel lorem. Morbi vitae justo sit amet felis vehicula commodo a placerat lacus. Mauris at est elit, nec vehicula urna. Duis a lacus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae)
<br>
<img src="maptiny.png" class="img-thumbnail rounded mx-auto d-block">
</div>
</div>
{% endblock %}
